 @font-face {
  font-family: Gothamrounded;
  
  src: url(materials/fonts/gothamrounded-bold-webfont.eot), /* IE9 Compat Modes */
       url(materials/fonts/rounded/bold/gothamrounded-bold-webfont.woff),  /* Pretty Modern Browsers */
       url(materials/fonts/rounded/bold/gothamrounded-bold-webfont.ttf), /* Safari, Android, iOS */
       url(materials/fonts/rounded/bold/gothamrounded-bold-webfont.svg#svgFontName); /* Legacy iOS */
}
 @font-face {
  font-family: Medium;
  font-weight: medium;
  src: url(materials/fonts/rounded/medium/gothamrounded-medium-webfont.eot), /* IE9 Compat Modes */
       url(materials/fonts/rounded/medium/gothamrounded-medium-webfont.woff),  /* Pretty Modern Browsers */
       url(materials/fonts/rounded/medium/gothamrounded-medium-webfont.ttf), /* Safari, Android, iOS */
       url(materials/fonts/rounded/medium/gothamrounded-medium-webfont.svg#svgFontName); /* Legacy iOS */
}
 @font-face {
  font-family: Light;
  font-weight: lighter;
  
  src: url(materials/fonts/rounded/light/gothamrounded-light-webfont.eot), /* IE9 Compat Modes */
       url(materials/fonts/rounded/light/gothamrounded-light-webfont.woff),  /* Pretty Modern Browsers */
       url(materials/fonts/rounded/light/gothamrounded-light-webfont.ttf), /* Safari, Android, iOS */
       url(materials/fonts/rounded/light/gothamrounded-light-webfont.svg#svgFontName); /* Legacy iOS */
}

 @font-face {
  font-family: Light;
  src: url(materials/fonts/rounded/light/gothamrounded-light-webfont.eot), /* IE9 Compat Modes */
       url(materials/fonts/rounded/light/gothamrounded-light-webfont.woff),  /* Pretty Modern Browsers */
       url(materials/fonts/rounded/light/gothamrounded-light-webfont.ttf), /* Safari, Android, iOS */
       url(materials/fonts/rounded/light/gothamrounded-light-webfont.svg#svgFontName); /* Legacy iOS */
} 
@font-face {
  font-family: Book;
  src: url(materials/fonts/GothamRounded-Book.otf), /* IE9 Compat Modes */
       url(materials/fonts/GothamRoundedBook_21018.ttf),  /* Pretty Modern Browsers */
       url(materials/fonts/GothamRounded-BookItalic.otf); /* Legacy iOS */
}
@font-face{
	font-family: Boldd;
	src: url(materials/fonts/GothamRounded-Bold.otf),
		 url(materials/fonts/GothamRoundedBold_21016.ttf),
		 url(materials/fonts/GothamRounded-BoldItalic.otf);
	
}
@font-face{
	font-family: Med;
	src: url(materials/fonts/GothamRounded-Medium.otf),
		 url(materials/fonts/GothamRoundedMedium_21022.ttf),
		 url(materials/fonts/GothamRounded-MediumItalic.otf);
	
}
/* ::-webkit-scrollbar {
	display: none;
} */
::-webkit-input-placeholder {
	color:#c0392b;
	font-family: Med;
	
	
}
 * {
    margin: 0;
    padding: 0;
   }

.header {
	height: 745px;
	width: 100%;
	background-image: url(materials/head_bg.png);
	background-size: cover;
	text-align: center;
	position:relative;
}
.header a{
	text-transform:uppercase;
	
}

.header .nav{
    list-style:none;
    margin:0;
    padding:53px;
    text-align:center;
	
}
.header .nav :first-child{
    margin-left:0px;
}
.header .nav :last-child{
    margin-right:0px;
}
.header .nav li{
    display:inline;
	/*padding:10px;*/
	margin-right:100px;
}
.header .nav a{
    font-family: Gothamrounded;
	font-size: 12pt;
	color: white;
	display:inline-block;
	text-decoration: none;
	letter-spacing: 2px;
	
}
.header .nav img{
	vertical-align: middle;
	position: relative;
	bottom: 13px;
	left:8px;
}
.header h1{
	font-family: Gothamrounded;
	font-size: 2.34em;
	color: white;
	text-align: center;
	letter-spacing: 5px;
	padding-top: 167px;
	padding-left: 8px;
	text-transform:uppercase;
}
.header h2 {
	font-family: Light;
	font-size: 11.4pt;
	color: white;
	text-align: center;
	letter-spacing: 3.1px;
	padding-top: 2px;
	padding-left: 3px;
	margin-bottom:26px;
}
.button{
	display:block;
	background-color: #16a085;
	border-radius:2px;
	width: 166px;
	height: 49px;
	
	line-height:49px;
	text-decoration: none;
	font-family: Book;
	font-weight: bolder; 
	font-size: 8pt;
	color: white;
	text-align: center;
	letter-spacing: 3px;
}
.header .button{
	margin: 0 auto;
	margin-bottom: 220px;
}
.logo {
	margin: 0 auto;
	
}
.logo :first-child{
	padding-left:0px;
}
.logo img{
	padding-left:12px;
}
.first_container {
	height: 492px;
	width: 100%;
	background-color:#f5f6f7;

	position:relative;
	background-image:  url(materials/hand_phone.png);
	background-size:  635px;
	background-repeat: no-repeat;
	background-position: 76.6% 100%;
}
.first_container h2{
	text-transform: uppercase;
	color: #16a085;
	text-align:left;
	padding-top: 108px;
	margin-left: 163px;
	margin-bottom: 40px;
	font-family: Gothamrounded;
	font-weight:bold;
	font-size: 13pt;
	letter-spacing:3.3px;
	line-height:22px;
}
.first_container .topic{
	color: #373737;
	font-size:8pt;
	letter-spacing:2.5px;
	float:left;
	margin-left: 163px; 
	font-family: Book;
	font-weight: lighter;
	
	line-height:24px;
} 

.first_container img{
	float:right;
	padding-top: 92px;
	padding-right: 113px;
	top: 100px;
}
.button{
	text-transform:uppercase;
}
.first_container .button{
	margin-left: 163px;
	margin-top: 200px;
	width: 192px;
	height: 51px;
	
	line-height:51px;
}
.second_container{
	height: 559px;
	width: 100%;
	background-color:#ffffff;

	position:relative;
	
	
}
.second_container .img {
	width:50%;
	height:100%;
	float: left;
}
.second_container .content{
	float:right;
	width:50%;
	height:100%;
}
.second_container h2{
	text-transform: uppercase;
	color: #16a085;
	font-family: Gothamrounded;
	font-weight:bold;
	font-size: 13pt;
	padding-top: 141px;
	padding-left:126px;
	margin-bottom: 35px;
	letter-spacing:3.3px;
}
.second_container .topic{
	color: #373737;
	
	padding-left: 128px;
	font-family: Book;
	font-weight: lighter;
	margin-bottom:36px;
	font-size: 9pt;
	letter-spacing:1.8px;
	line-height:22px;
	
} 
.second_container img{
	float:right;
	padding-top:147px;
	padding-right:202px;
}
.second_container .arrows{
	padding-left:127px;
	float:left;
}
.second_container .arrows .right{
	padding-left:21px;
	
}

.second_container .arrows img{
	padding-right:0px;
	padding-top: 0px;
	padding-left: 0px;
}
.second_container .button{
	margin-bottom:42px;
	margin-left: 126px;
	width: 192px;
	height: 51px;
	
	line-height:51px;
	border-radius:0px;
}
.second_container .num{
	color: #373737;
	font-family: Gothamrounded;
	font-weight:bold;
	font-size: 9pt;
	padding-left:126px;


	margin-bottom: 5px;
	letter-spacing:2px;
}
.second_container .left{
	padding-top:5px;
} 
.second_container .right{
	
}

.third_container{
	height: 484px;
	width: 100%;
	background-color:#f5f6f7;
	
	position:relative;
	
}
.third_container .content{
	float:left;
	width:30%;
	height:100%;
	
}
.third_container .photos{
	float:right;
	width:70%;
	height:100%;
	
	
}
.third_container .arrows {
    padding-top: 94px;
    padding-left: 78.7%;
	margin-bottom:6px;
}
/* .third_container img{
	width: 11px;
	padding-top:95px;

} */
.third_container .photos .imgs{
	padding-left: 16px;
	
}
.third_container .photos .imgs .photo:last-child{
	padding-left: 24px;
	
}
.third_container .left{
	width: 11px;

} 

.third_container .right {
    width: 11px;
    padding-left: 12px;
}
.third_container .cam {
    padding-top: 164px;
    padding-left: 55%;
    margin-bottom: 22px;
    width: 14.4%;
}
.third_container h2{
	text-transform: uppercase;
    width: 200px;
    font-family: Gothamrounded;
    font-weight: bold;
    color: #373737;
    padding-left: 40.5%;
    margin-bottom: 19px;
    font-size: 12pt;
    letter-spacing: 2.4px;
}
.third_container p{
	text-align: center;
    color: #373737;
    font-family: Med;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1.5px;
    padding-left: 25%;
}
.third_container .topic {
	padding-left:100px;
	float:left;
	
}
.third_container .photo{
	display:inline;
	float:left;
	width:40%;
}
.fourth_container {
	height: 790px;
	width: 100%;
	

	position:relative;
	background-image:  url(materials/fourth_bg.png);
	background-size:cover;
}
.fourth_container h2{
	text-align: center;
	text-transform: uppercase;
	margin:0 auto;
	font-family: Gothamrounded;
	font-weight:bold;
	color: #ffffff;
	padding-top:342px;
	font-size: 25px;
	letter-spacing: 3.1px;
}
.fourth_container .input {
	margin:0 auto;
	
}
.footer{
	height: 526px;
	width: 100%;
	background-color:#f5f6f7;
	
	position:relative;
	
	
}